.profile__info {
    margin               : 0 auto 0 29px;
    padding              : 0;
    display              : grid;
    grid-template-columns: auto auto;
    grid-template-rows   : auto auto;
    flex-direction       : column;
    align-items          : flex-start;
    width                : 100%;
    width                : fit-content;
}

@media screen and (max-width: 781px) {
    .profile__info {
        margin: 26px auto 0;
    }
}