.popup__image-caption {
    font-style : normal;
    font-weight: normal;
    font-size  : 12px;
    line-height: 15px;
    padding    : 0;
    margin     : 10px 0 0;
    position   : absolute;
    bottom: -25px;
    left: 0;
}