.regform__input {
  display: block;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #cccccc;
  background-color: black;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: white;
  padding: 0 1px 9px;
  margin-bottom: 30px;
  outline: 0;
}

/* input:-webkit-autofill,

input:-webkit-autofill:hover, 

input:-webkit-autofill:focus,  */

/* input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    background-color: black;
} */

/* input:autofill {
  background-color: black;
} */

/* input:-webkit-autofil{
  background-color: black;
} */